{% extends 'base.html.twig' %}

{% block title %}7e Art{% endblock %}

{% block body %}        
	<div class="wrapper">
		
		<div class="main">
			
			<main class="content">

				Trouve les compétences dont tu as besoin pour ton projet audiovisuel !

				<a href="{{ path('home_app') }}">Accéder à l'application</a>

				<h3 class="mt-4">Table <b>Users</b></h3>

				<table class="table">
					<thead>
						<th>ID</th>
						<th>Email</th>
						<th>Prenom</th>
						<th>Nom</th>
						<th></th>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.prenom }}</td>
								<td>{{ user.nom }}</td>
								<td><a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</main>

		</div>
	</div>
{% endblock %}
