{% extends 'app.html.twig' %}

{% block title %}Edit Metier{% endblock %}

{% block main %}
    <h1>Edit Metier</h1>

    {{ include('metier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_metier_index') }}">Retour à la liste</a>

    {{ include('metier/_delete_form.html.twig') }}
{% endblock %}
