{% extends 'app.html.twig' %}

{% block title %}Metiers{% endblock %}

{% block main %}
    <h1>Metiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metier in metiers %}
            <tr>
                <td>{{ metier.id }}</td>
                <td>{{ metier.categorie.nom }}</td>
                <td>{{ metier.nom }}</td>
                <td><div style="display: inline-block; height: .75rem; width: .75rem; background-color: #{{ metier.couleur }}"></div> {{ metier.couleur }}</td>
                <td>
                    <a href="{{ path('app_metier_show', {'id': metier.id}) }}">show</a>
                    <a href="{{ path('app_metier_edit', {'id': metier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_metier_new') }}">+ Nouveau métier</a>
{% endblock %}
