.sidebar {
	background-color: #fff;
	max-width: 260px;
	min-width: 260px;
}
.sidebar-brand { 
	color: #424242;
	display: block;
	font-size: 1.125rem;
	padding: 1.15rem 1.5rem;
	text-align: center;
}
.sidebar-nav {
	list-style: none;
	padding-left: 0;
}
.sidebar-link, a.sidebar-link {
	color: rgba(233,236,239,.5);
	cursor: pointer;
	display: block;
	font-weight: 400;
	padding: .625rem 1.625rem;
	position: relative;
	text-decoration: none;
	transition: color 75ms ease-in-out;
}
body .sidebar-link, body a.sidebar-link {
	color: #495057;
}
.sidebar-toggle { 
	margin-right: 1rem;
	cursor: pointer;
	display: flex;
	height: 26px;
	width: 26px;
}