.navbar {
	border-bottom: 0;
	box-shadow: 0 0 2rem 0 rgba(41,48,66,.1);
	--bs-navbar-padding-x: 1.25rem;
	--bs-navbar-padding-y: 0.875rem;
	align-items: center;
	display: flex;
	padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
	position: relative;
}
.navbar-align {
	margin-left: auto;
}
.navbar-bg {
	background: #fff;
}
.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.navbar-expand .navbar-collapse {
	display: flex !important;
	flex-basis: auto;
}
.navbar-expand .navbar-nav {
	flex-direction: row;
}
.navbar-collapse {
	align-items: center;
	flex-basis: 100%;
	flex-grow: 1;
}
.navbar-nav {
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.5rem;
	--bs-nav-link-font-weight: ;
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
	--bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.collapse:not(.show) {
	display: none;
}
.hamburger, .hamburger::after, .hamburger::before {
	background: #495057;
	border-radius: 1px;
	content: "";
	cursor: pointer;
	display: block;
	height: 3px;
	transition: background .1s ease-in-out,color .1s ease-in-out;
	width: 24px;
	position: relative;
}
.hamburger::before {
	top: -8px;
	width: 20px;
}
.hamburger::after {
	bottom: -5px;
	width: 16px;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
	position: relative;
}
.dropdown-toggle {
	white-space: nowrap;
}
.nav-flag, .nav-icon {
	color: #6c757d;
	display: block;
	font-size: 1.5rem;
	line-height: 1.4;
	padding: .1rem .8rem;
	transition: background .1s ease-in-out,color .1s ease-in-out;
}
.nav-flag .feather, .nav-flag svg, .nav-icon .feather, .nav-icon svg {
	height: 20px;
	width: 20px;
}
.d-inline-block {
	display: inline-block !important;
}
@media (min-width: 576px) {
	.d-sm-none {
	  display: none !important;
	}
}

.navbar-expand .navbar-nav .nav-link {
	padding-left: var(--bs-navbar-nav-link-padding-x);
	padding-right: var(--bs-navbar-nav-link-padding-x);
}
@media (min-width: 576px) {
	.d-sm-inline-block {
	  display: inline-block !important;
	}
}
.d-none {
	display: none;
}