/* Importing Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Override some Bootstrap variables */
$bg: #FB4041;
$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-size-base: 0.825rem;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
//@import '../../vendor/mapbox-gl/dist/mapbox-gl.min.css';
a {
	cursor: pointer;
	text-decoration: none;
}

.wrapper {
	align-items: stretch;
	display: flex; 
	width: 100%;
}

.main {
	min-height: 100vh;
	min-width: 0;
	transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;;
	width: 100%;
	padding: 1.5rem 2.5rem;
}
.content {
	flex: 1;
	padding: 2.5rem 2.5rem 1.5rem;
}
.align-middle {
	vertical-align: middle !important;
}
.align-self-center { 
	align-self: center !important;
}

#map { width: 100%; flex-grow: 1; }

@import '_sidebar.scss';
@import '_topnavbar.scss';