{% extends 'base.html.twig' %}

{% block title %}7e Art{% endblock %}

{% block body %}        
	<div class="wrapper">
		{% include "shared/_sidebar.html.twig" %}
		
		<div class="main">

			{% include "shared/_topnavbar.html.twig" %}
			
			<main class="p-5">
				{% block main %}<div id="map"></div>{% endblock %}
			</main>

		</div>
	</div>
{% endblock %}
