{{ form_start(form) }}
	<div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.email) }}
		</div>
		<div class="col">
			{{ form_row(form.password) }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.prenom) }}
		</div>
		<div class="col">
			{{ form_row(form.nom) }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.adresse) }}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{{ form_row(form.cp) }}
		</div>
		<div class="col">
			{{ form_row(form.ville) }}
		</div>
	</div>

		<div class="row">
		<div class="col">
			{{ form_row(form.latitude) }}
		</div>
		<div class="col">
			{{ form_row(form.longitude) }}
		</div>
	</div>

	<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
