{% extends 'app.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block main %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
{% endblock %}
