{% extends 'app.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
	<h1><small class="text-muted h5">User</small><br>{{ user.prenom }} <b>{{ user.nom }}</b></h1>

	<div class="row">
	
		<div class="col-12 col-md-6 p-5">
			<h2 class="h4">Infos</h2>
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<th>Roles</th>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					</tr>
					<tr>
						<th>Prenom</th>
						<td>{{ user.prenom }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ user.nom }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-12 col-md-6 p-5">
			<h2 class="h4">Coordonnées</h2>
			<table class="table">
				<tr>
					<th>Adresse</th>
					<td>{{ user.adresse }}</td>
				</tr>
				<tr>
					<th>CP</th>
					<td>{{ user.cp }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ user.ville }}</td>
				</tr>
				<tr>
					<th>Lat.</th>
					<td>{{ user.latitude }}</td>
				</tr>
				<tr>
					<th>Long.</th>
					<td>{{ user.longitude }}</td>
				</tr>
			</table>
		</div>
	
	</div>
	

	<a href="{{ path('app_user_index') }}">back to list</a>

	<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
