<form method="post" action="{{ path('app_categorie_metier_delete', {'id': categorie_metier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_metier.id) }}">
    <button class="btn">Delete</button>
</form>
