{% extends 'app.html.twig' %}

{% block title %}Edit Categorie Metier{% endblock %}

{% block main %}
    <h1>Edit CategorieMetier</h1>

    {{ include('categorie_metier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_metier_index') }}">back to list</a>

    {{ include('categorie_metier/_delete_form.html.twig') }}
{% endblock %}
