{% extends 'app.html.twig' %}

{% block title %}Categories de Métiers{% endblock %}

{% block main %}
    <h1>Categories de Métiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_metier in categorie_metiers %}
            <tr>
                <td>{{ categorie_metier.id }}</td>
                <td>{{ categorie_metier.nom }}</td>
                <td><div style="width: 1rem; height: 1rem; border: 1px solid silver; background-color: {{ categorie_metier.couleur }}"></div></td>
                <td>
                    <a href="{{ path('app_categorie_metier_show', {'id': categorie_metier.id}) }}">Afficher</a>
                    <a href="{{ path('app_categorie_metier_edit', {'id': categorie_metier.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_metier_new') }}">+ Nouvelle catégorie</a>
{% endblock %}
