{% extends 'base.html.twig' %}

{% block title %}New CategorieMetier{% endblock %}

{% block body %}
    <h1>Create new CategorieMetier</h1>

    {{ include('categorie_metier/_form.html.twig') }}

    <a href="{{ path('app_categorie_metier_index') }}">back to list</a>
{% endblock %}
