{% extends 'base.html.twig' %}

{% block title %}CategorieMetier{% endblock %}

{% block body %}
    <h1>CategorieMetier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_metier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_metier.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_metier_index') }}">back to list</a>

    <a href="{{ path('app_categorie_metier_edit', {'id': categorie_metier.id}) }}">edit</a>

    {{ include('categorie_metier/_delete_form.html.twig') }}
{% endblock %}
